<%  include partials/head %>
<body  class="container">
<%  include partials/header %>
    
    <h2>This site is created by Ralph Borcherds for BYU-Idaho CS-313 class.</h2>
    <p>The technology used for this site is Node.js, HTML5, CSS3, Bootstrap and PostgreSQL. This is an example of what can be done with Node.js. Heroku only supports the PostgreSQL database on their system, that is why it is being used.  Any database back-end may be used.</p>
    <h3>If you do not have an account please create one for free to test it out.</h3>
    <h3>
        <%= message %>
    </h3>
    <p>This site does real-time validation of the username and password when you create a new account.</p>
    <p>The City and State are required for the Dashboard. It gets your local weather and 10-day forecast.</p>
<%  include partials/footer %>
</body>
</html>