<%  include partials/head %>
<body  class="container">
<%  include partials/header %>
    
    <div class="container row">
        <div class="jumbotron col-sm-4 pull-center">
            <form action="/login" method="post">
                <div>
                    <label>Username:</label>
                    <input type="text" name="username"  onChange="javascript:checkLoginUsername();"  />
                    <div id="badUsername"></div>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password" />
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Log In" />
                    <input class="btn btn-primary" type="button" onclick="javascript:openSignup();" value="Sign up" />
                </div>
            </form>
        </div>
    </div>
<%  include partials/footer %>
</body>
</html>