body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


/************************************************************
*
*                   Forecast Data 
*
************************************************************/

.hiddenitems {
    display: none;
}

#forecast {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 650px;
    justify-content: flex-start;
    padding: 0 10px;
}

.cityname {
    width: 100%;
    background-color: #0e113b;
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    padding: 5px 0;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 40px;
    text-align: center
}

.forecast {
    padding: 0;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    align-content: flex-start;
}

.flex-order,
.flex-order1,
.flex-order2,
.flex-order3,
.flex-order4,
.flex-order5,
.flex-order6,
.flex-order7,
.flex-order8,
.flex-order9,
.flex-order10,
.flex-order11 {
    padding: 2px 0;
    text-align: center;
    border: 0px solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    line-height: 2em;
}

.flex-order {
    width: 100%;
    background-color: #334e4d;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 0;
}

.odd {
    background-color: #b0f7f4;
}

.even {
    background-color: #f5b57e;
}

.flex-order1,
.flex-order3,
.flex-order5 {
    width: 50%;
    background-color: #b0f7f4;
}

.flex-order2,
.flex-order4,
.flex-order9 {
    width: 50%;
    background-color: #f5b57e;
}

.flex-order6 {
    order: 8;
    width: 100%;
    font-weight: bold;
    background-color: #334e4d;
    color: #fff;
    padding: 5px 0;
    font-size: 1.1em;
}

.flex-order7 {
    order: 9;
    width: 9%;
    background-color: #fff7b6;
}

.flex-order8 {
    order: 10;
    width: 9%;
    background-color: #b0f7f4;
}

.flex-order11 {
    order: 11;
    width: 9%;
    background-color: #b0f7f4;
}

#day9temp,
#day9lowtemp,
#day9 {
    width: 10%;
}


/********************************************************
*
*   Red Colors for invalid values
*
*********************************************************/

#badEmail,
#badUsername {
    color: #ff0000;
    font-weight: 700;
    font-size: 1em;
    order: 3;
}


/********************************************************
*
*   Form Entry formating
*
*********************************************************/

.jumbotron {
    width: 50em;
    background-color: #e8fdf9;
}

fieldset {
    width: 45em;
    margin: 10px 10px 30px 10px;
    border: 0 none;
}

fieldset div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input,
textarea,
select {
    order: 2;
    flex-basis: 15em;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 3px;
    align-items: flex-end;
}

label {
    order: 1;
    text-align: right;
    padding-right: 0.5em;
    white-space: nowrap;
    cursor: pointer;
    width: calc(25%);
}

input[type="checkbox"],
input[type="radio"] {
    order: 1;
    flex: none;
    width: auto;
    margin-left: 1em;
}

input[type="checkbox"]~label,
input[type="radio"]~label {
    width: auto;
    text-align: left;
    padding-left: 0.4em;
}


/* label state styles */

input:focus~label,
textarea:focus~label,
select:focus~label {
    color: #933;
}

input:checked~label {
    font-weight: bold;
}

#addDoc {
    width: calc(20%);
    font-weight: 700;
    order: 1;
    display: flex;
    flex-basis: 1em;
    align-items: flex-start;
    background-color: #55eeff;
    min-height: 2.5em;
}

#addDoc[type='button'] {
    margin: 20px 0;
}

input[type='submit'] {
    background-color: #06147a;
    color: #fff;
    font-weight: 700;
    font-kerning: 1.2;
    max-height: 3em;
    width: calc(25%);
    align-self: center;
}

.navbar-default {
    background-color: #e8fdf9;
    border-color: #e8fdf9;
}

.navbar-default .navbar-nav>li>a {
    color: #1d1d1d;
}

.navbar-nav>li:hover {
    background-color: #137966;
}

.navbar-nav>li>a:hover {
    color: #fff;
    font-weight: 700;
}