<% include partials/header %>
    <h1>Math Answers</h1>
    <p>Here are the values you entered</p>
    <p>Number #1:
        <%= num1 %>
    </p>
    <p>Number #2:
        <%= num2 %>
    </p>
    <p>Operator:
        <%= operator1 %>
    </p>
    <p>The Answer is:
        <%= answer %>
    </p>

    <% include partials/footer %>